/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 27px 4%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .logo img {
    height: 30px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
}

.navbar ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Contenedor de iconos */
.social-icons {
    display: flex;
    gap: 15px;
}

/* Estilos para los botones */
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: 0.3s;
}

/* Colores específicos */
.facebook { background-color: #1877f2; }
.whatsapp { background-color: #25d366; }
.google-maps { background-color: #db4437; }

/* Efecto hover */
.icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}
